In [3]:
import pandas as pd
import numpy as np

In [4]:
from sklearn.pipeline import Pipeline
from sklearn.pipeline import FeatureUnion
from sklearn.base import BaseEstimator, TransformerMixin

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold

from sklearn.linear_model import LogisticRegression

# Class, for use in pipelines, to select certain columns from a DataFrame and convert to a numpy array
# From A. Geron: Hands-On Machine Learning with Scikit-Learn & TensorFlow, O'Reilly, 2017
# Modified by Derek Bridge to allow for casting in the same ways as pandas.DataFrame.astype
class DataFrameSelector(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names, dtype=None):
        self.attribute_names = attribute_names
        self.dtype = dtype
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        X_selected = X[self.attribute_names]
        if self.dtype:
            return X_selected.astype(self.dtype).values
        return X_selected.values
    
# Class, for use in pipelines, to binarize nominal-valued features (while avoiding the dummy variabe trap)
# By Derek Bridge, 2017
class FeatureBinarizer(BaseEstimator, TransformerMixin):
    def __init__(self, features_values):
        self.features_values = features_values
        self.num_features = len(features_values)
        self.labelencodings = [LabelEncoder().fit(feature_values) for feature_values in features_values]
        self.onehotencoder = OneHotEncoder(sparse=False,
            n_values=[len(feature_values) for feature_values in features_values])
        self.last_indexes = np.cumsum([len(feature_values) - 1 for feature_values in self.features_values])
    def fit(self, X, y=None):
        for i in range(0, self.num_features):
            X[:, i] = self.labelencodings[i].transform(X[:, i])
        return self.onehotencoder.fit(X)
    def transform(self, X, y=None):
        for i in range(0, self.num_features):
            X[:, i] = self.labelencodings[i].transform(X[:, i])
        onehotencoded = self.onehotencoder.transform(X)
        return np.delete(onehotencoded, self.last_indexes, axis=1)
    def fit_transform(self, X, y=None):
        onehotencoded = self.fit(X).transform(X)
        return np.delete(onehotencoded, self.last_indexes, axis=1)
    def get_params(self, deep=True):
        return {"features_values" : self.features_values}
    def set_params(self, **parameters):
        for parameter, value in parameters.items():
            self.setattr(parameter, value)
        return self

In [5]:
pd.set_option('display.max_columns', None)

In [6]:
def get_nan_values_for_column(df, column_name):
    return df[column_name].isna().sum()

In [7]:
def drop_nan_values_from_columns(df, column_names_list):
    '''
    This function removes all rows, where at least one column a row,
    from the list 'column_names_list', contains a NaN value
    '''
    df_tmp = df.dropna(subset=column_names_list)
    df_tmp.reset_index(drop=True, inplace=True)
    
    return df_tmp

In [8]:
df = pd.read_csv('companies.csv', low_memory=False)
df

,acquisition_id,relationship_object_id,price_amount,price_currency_code,acquired_at,full_name,subject,Aquired,entity_type,entity_id,normalized_name,category_code,status,founded_at,closed_at,homepage_url,country_code,state_code_x,city_x,region,first_investment_at,last_investment_at,investment_rounds,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,relationships,description_y,city_y,zip_code,latitude,longitude
0,209,c:59,3.100000e+09,USD,2008-03-11,Brian Kennish,NaN,False,Company,59,google,search,ipo,1998-09-07,NaN,http://google.com,USA,CA,Mountain View,SF Bay,2004-06-18,2013-05-01,29.0,26.0,1998-08-01,1999-06-07,2.0,25100000.0,1046.0,Google Mexico,Mexico,1100,19.507519,-99.030156
1,209,c:59,3.100000e+09,USD,2008-03-11,Brian Kennish,NaN,False,Company,59,google,search,ipo,1998-09-07,NaN,http://google.com,USA,CA,Mountain View,SF Bay,2004-06-18,2013-05-01,29.0,26.0,1998-08-01,1999-06-07,2.0,25100000.0,1046.0,Google Haifa,Haifa,31905,NaN,NaN
2,209,c:59,3.100000e+09,USD,2008-03-11,Brian Kennish,NaN,False,Company,59,google,search,ipo,1998-09-07,NaN,http://google.com,USA,CA,Mountain View,SF Bay,2004-06-18,2013-05-01,29.0,26.0,1998-08-01,1999-06-07,2.0,25100000.0,1046.0,Google Tel Aviv,Tel-Aviv,66183,NaN,NaN
3,209,c:59,3.100000e+09,USD,2008-03-11,Brian Kennish,NaN,False,Company,59,google,search,ipo,1998-09-07,NaN,http://google.com,USA,CA,Mountain View,SF Bay,2004-06-18,2013-05-01,29.0,26.0,1998-08-01,1999-06-07,2.0,25100000.0,1046.0,Google Istanbul,Istanbul,34394,NaN,NaN
4,209,c:59,3.100000e+09,USD,2008-03-11,Brian Kennish,NaN,False,Company,59,google,search,ipo,1998-09-07,NaN,http://google.com,USA,CA,Mountain View,SF Bay,2004-06-18,2013-05-01,29.0,26.0,1998-08-01,1999-06-07,2.0,25100000.0,1046.0,Google Dubai,Dubai,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7210973,4521,c:3246,NaN,USD,2006-09-06,Michael Klett,Computer Engineering,False,Company,3246,ibm,software,ipo,NaN,NaN,http://www.ibm.com,USA,NY,Armonk,New York,2000-08-28,2008-03-25,2.0,2.0,NaN,NaN,NaN,NaN,870.0,Corporate Headquarters,Armonk,10504,41.109534,-73.723999
7210974,4521,c:3246,NaN,USD,2006-09-06,Michael Lipton,Computer Science & Engineering,False,Company,3246,ibm,software,ipo,NaN,NaN,http://www.ibm.com,USA,NY,Armonk,New York,2000-08-28,2008-03-25,2.0,2.0,NaN,NaN,NaN,NaN,870.0,Corporate Headquarters,Armonk,10504,41.109534,-73.723999
7210975,4521,c:3246,NaN,USD,2006-09-06,Blair Hankins,Mathematics,False,Company,3246,ibm,software,ipo,NaN,NaN,http://www.ibm.com,USA,NY,Armonk,New York,2000-08-28,2008-03-25,2.0,2.0,NaN,NaN,NaN,NaN,870.0,Corporate Headquarters,Armonk,10504,41.109534,-73.723999
7210976,4521,c:3246,NaN,USD,2006-09-06,Shanker Ramamurthy,Innformation Science,False,Company,3246,ibm,software,ipo,NaN,NaN,http://www.ibm.com,USA,NY,Armonk,New York,2000-08-28,2008-03-25,2.0,2.0,NaN,NaN,NaN,NaN,870.0,Corporate Headquarters,Armonk,10504,41.109534,-73.723999
7210977,4521,c:3246,NaN,USD,2006-09-06,Karen Riley,NaN,False,Company,3246,ibm,software,ipo,NaN,NaN,http://www.ibm.com,USA,NY,Armonk,New York,2000-08-28,2008-03-25,2.0,2.0,NaN,NaN,NaN,NaN,870.0,Corporate Headquarters,Armonk,10504,41.109534,-73.723999

In [9]:
# print all columns and their unique values
for c in df.columns:
    print(c + " - " + str(df[c].unique()))

acquisition_id - [ 209  263  273 ... 4519 4520 4521]
relationship_object_id - ['c:59' 'c:24' 'c:212' 'c:227' 'c:5' 'c:318' 'c:20' 'c:342' 'c:349'
 'c:355' 'c:351' 'c:307' 'c:29' 'c:541' 'c:568' 'c:570' 'c:317' 'c:583'
 'c:584' 'c:590' 'c:25' 'c:622' 'c:13171' 'c:665' 'c:674' 'c:694' 'c:156'
 'c:754' 'c:823' 'c:826' 'c:838' 'c:840' 'c:845' 'c:851' 'c:988' 'c:1035'
 'c:45' 'c:1246' 'c:489' 'c:1335' 'c:1354' 'c:1081' 'c:396' 'c:350'
 'c:1242' 'c:1727' 'c:1438' 'c:1504' 'c:608' 'c:1735' 'c:2042' 'c:2050'
 'c:2272' 'c:2312' 'c:2358' 'c:2381' 'c:2602' 'c:2720' 'c:2758' 'c:2778'
 'c:191' 'c:2175' 'c:760' 'c:2881' 'c:966' 'c:1873' 'c:3063' 'c:3104'
 'c:3165' 'c:3253' 'c:3316' 'c:2537' 'c:3619' 'c:757' 'c:4010' 'c:4199'
 'c:4247' 'c:308' 'c:4272' 'c:3754' 'c:304' 'c:4797' 'c:4818' 'c:2680'
 'c:4845' 'c:46' 'c:424' 'c:5027' 'c:5059' 'c:5160' 'c:5396' 'c:4175'
 'c:5471' 'c:1895' 'c:5546' 'c:5548' 'c:5564' 'c:5622' 'c:250' 'c:1663'
 'c:3526' 'c:1654' 'c:475' 'c:5744' 'c:5807' 'c:5837' 'c:1926' 'c:6020'
 'c:2825' 'c:647' 'c:6082' 'c:256' 'c:1400' 'c:2345' 'c:6478' 'c:2394'
 'c:3320' 'c:6674' 'c:149' 'c:6858' 'c:2903' 'c:7169' 'c:85' 'c:4138'
 'c:7570' 'c:3277' 'c:3855' 'c:7769' 'c:7682' 'c:390' 'c:12' 'c:6812'
 'c:8488' 'c:25732' 'c:8661' 'c:8613' 'c:8763' 'c:1915' 'c:5107' 'c:9212'
 'c:9241' 'c:9262' 'c:8801' 'c:297' 'c:31' 'c:28' 'c:565' 'c:10322'
 'c:10453' 'c:3407' 'c:11004' 'c:7056' 'c:1639' 'c:11342' 'c:687' 'c:1080'
 'c:163' 'c:3147' 'c:9931' 'c:1916' 'c:3396' 'c:34' 'c:11837' 'c:9489'
 'c:7563' 'c:2695' 'c:12357' 'c:10119' 'c:12623' 'c:4568' 'c:3161'
 'c:2989' 'c:5473' 'c:13217' 'c:3555' 'c:3654' 'c:13324' 'c:13510'
 'c:6757' 'c:567' 'c:283' 'c:5182' 'c:3275' 'c:3246']
price_amount - [3.10000e+09 5.00000e+07         nan 2.30000e+07 1.02000e+08 2.80000e+07
 2.03000e+07 6.25000e+08 1.50000e+07 1.65000e+09 1.30000e+08 7.50000e+08
 3.00000e+07 2.50000e+07 3.50000e+07 6.82000e+07 8.00000e+07 7.00000e+08
 1.82000e+08 7.00000e+07 1.20000e+07 1.60000e+08 1.00000e+07 3.77000e+07
 4.90000e+06 4.00000e+08 1.25000e+10 1.51000e+08 1.00000e+08 3.50000e+08
 1.25000e+08 1.10000e+09 4.00000e+07 2.80000e+08 5.00000e+06 2.00000e+07
 1.80000e+09 4.10000e+06 1.05900e+09 7.90000e+07 7.14000e+06 3.43200e+08
 4.75000e+07 2.50000e+06 6.00000e+07 1.01047e+09 9.00000e+07 1.50000e+08
 1.40000e+07 1.50000e+09 6.20000e+08 4.83000e+07 3.10000e+08 9.45000e+08
 3.80000e+08 4.15000e+08 2.90000e+08 2.15000e+08 7.50000e+07 2.00000e+08
 2.40000e+09 1.35000e+08 1.80000e+08 2.40000e+08 2.60000e+09 1.84000e+07
 4.00000e+09 7.40000e+09 7.63200e+08 1.30000e+07 3.00000e+08 1.39000e+10
 1.60000e+09 3.60000e+08 2.70000e+09 1.20000e+09 4.50000e+09 2.35000e+09
 1.02000e+10 1.18000e+09 4.35000e+08 2.75000e+08 3.63000e+08 8.50000e+08
 2.82000e+07 3.20000e+08 5.25000e+08 4.20000e+09 4.07000e+08 7.00000e+06
 3.65000e+07 6.50000e+07 3.15000e+08 4.05000e+08 1.00000e+09 4.75000e+08
 1.00000e+06 9.20000e+07 2.96000e+07 2.87000e+09 4.32000e+08 9.30000e+07
 2.35000e+08 1.45000e+08 5.04000e+09 8.00000e+06 4.90000e+07 1.40000e+06
 1.64000e+08 5.50000e+07 1.63000e+09 2.70000e+08 4.80000e+07 8.90000e+06
 4.36000e+08 3.27000e+08 1.30000e+09 1.17000e+08 5.60000e+08 3.66000e+08
 2.50000e+08 1.10000e+08 5.45000e+08 7.75000e+08 1.25000e+09 1.28000e+08
 8.00000e+08 9.44000e+08 3.90000e+10 3.90000e+09 6.40000e+07 1.00000e+10
 3.72000e+08 2.55700e+08 1.70000e+07 6.25000e+07 3.10000e+07 4.30000e+07
 9.68000e+07 8.10000e+09 1.53000e+08 2.64000e+08 5.70000e+07 4.25000e+08
 2.60000e+08 3.91000e+07 1.32000e+08 1.40500e+08 3.52000e+08 1.33000e+07
 4.20000e+07 2.95000e+08 5.60000e+07 1.56000e+07 6.73600e+08 3.74000e+08
 1.80000e+07 3.25000e+08 8.50000e+07 4.50000e+07 1.20000e+06 1.85000e+09
 2.10000e+08 5.00000e+08 6.40000e+09 1.15000e+08 4.86000e+08 9.60000e+07
 3.37000e+08 8.50000e+09 1.20000e+08 2.60000e+06 3.33000e+08 9.50000e+06
 1.10000e+07 4.50000e+06 2.00000e+05 1.16000e+07 9.37000e+07 8.60000e+07
 6.10000e+07 1.74000e+08 7.25000e+07 2.25000e+08 1.50000e+05 2.90000e+07
 2.10000e+06 3.00000e+06 1.98000e+08 1.55000e+08 1.40000e+09 8.20000e+08
 7.80000e+07 6.34000e+08 2.56000e+07 4.85000e+08 3.30000e+08 3.24000e+08
 9.40000e+07 2.13000e+08 2.10000e+09 7.60000e+07 1.75000e+08 2.25000e+09
 6.35000e+08 7.50000e+06 1.70000e+08 1.35000e+09 9.10000e+07 4.23500e+08
 4.00000e+06 4.75000e+06 5.85000e+09 4.95000e+08 6.85000e+08 1.90000e+09
 8.71000e+08 9.50000e+07 2.68000e+08 3.70000e+08 3.15000e+07 2.40000e+07
 9.00000e+08 1.70000e+09 1.01000e+10 7.09000e+07 4.58000e+08 6.40000e+08
 4.40000e+09 1.43000e+06 3.80000e+07 4.10000e+08 2.78000e+08 1.21000e+08
 4.50000e+08 3.56000e+08 3.45000e+08 1.05000e+07 8.36000e+05 4.70000e+06
 3.44000e+07 9.14000e+07 3.16000e+08 3.75000e+08 4.40000e+07 3.67000e+07
 2.20000e+07 3.80000e+06 3.30000e+07 9.65000e+06 1.23000e+08 6.95000e+08
 5.30000e+07 1.28000e+09 0.00000e+00 2.73000e+07 1.62000e+08 6.00000e+06
 5.20000e+06 3.00000e+09 1.81000e+08 5.00000e+04 2.90000e+09 5.90000e+08
 8.30000e+08 1.05000e+08 3.40000e+09 1.83000e+08 9.90000e+07 4.45000e+07
 2.71000e+08 1.07000e+08 5.10000e+07 1.49000e+07 4.21400e+07 2.05000e+08
 1.95000e+06 8.40000e+06 1.01000e+07 8.30000e+06 3.20000e+09 1.36000e+08
 6.49000e+08 5.30000e+08 2.04260e+08 1.57000e+08 2.25000e+07 1.14000e+07
 3.50000e+05 6.00000e+08 2.80650e+08 3.40000e+07 3.90000e+07 3.60000e+07
 3.07000e+08 3.50000e+09 1.40000e+08 4.80000e+08]
price_currency_code - ['USD' 'GBP' 'CAD' 'EUR' 'JPY' nan 'SEK']
acquired_at - ['2008-03-11' '2012-06-27' '2006-02-14' ... '2006-05-02' '2006-08-02'
 '2006-09-06']
full_name - ['Brian Kennish' 'Austin Chau' 'Paul Rogers' ... 'David M. Thomas'
 'Ting Wu' 'Raj Jammy']
subject - [nan 'Computer Science'
 'Cognitive Psychology, Piano Performance, Business, Computer Science' ...
 'Farmer School of Business; Finance' 'Management/Finance'
 'Energy Efficiency, Renewable Energy and Sustainable Development']
Aquired - [False]
entity_type - ['Company']
entity_id - [   59    24   212   227     5   318    20   342   349   355   351   307
    29   541   568   570   317   583   584   590    25   622 13171   665
   674   694   156   754   823   826   838   840   845   851   988  1035
    45  1246   489  1335  1354  1081   396   350  1242  1727  1438  1504
   608  1735  2042  2050  2272  2312  2358  2381  2602  2720  2758  2778
   191  2175   760  2881   966  1873  3063  3104  3165  3253  3316  2537
  3619   757  4010  4199  4247   308  4272  3754   304  4797  4818  2680
  4845    46   424  5027  5059  5160  5396  4175  5471  1895  5546  5548
  5564  5622   250  1663  3526  1654   475  5744  5807  5837  1926  6020
  2825   647  6082   256  1400  2345  6478  2394  3320  6674   149  6858
  2903  7169    85  4138  7570  3277  3855  7769  7682   390    12  6812
  8488 25732  8661  8613  8763  1915  5107  9212  9241  9262  8801   297
    31    28   565 10322 10453  3407 11004  7056  1639 11342   687  1080
   163  3147  9931  1916  3396    34 11837  9489  7563  2695 12357 10119
 12623  4568  3161  2989  5473 13217  3555  3654 13324 13510  6757   567
   283  5182  3275  3246]
normalized_name - ['google' 'cbs' 'scripps networks interactive' 'sk telecom' 'facebook'
 'cond' 'ebay' 'the walt disney company' 'citysearch' 'hewlett packard'
 'aol' 'forbes' 'yahoo' 'nielsen' 'techtarget' 'e w scripps' 'amazon'
 'cendant' 'united online' 'at t' 'viacom' 'vivendi universal' 'hi media'
 'itv' 'marchex' 'virgin usa' 'thefind' 'incisive media' 'nokia'
 'fisher communications' 'rakuten' 'valueclick' 'real networks'
 'electronic arts' 'echostar' 'msnbc' 'hearst' 'american greetings'
 'datran media' 'thestreet' 'discovery communications' 'platial' 'news'
 'iac' 'microsoft' 'netapp' 'shutterfly' 'liberty media' 'adknowledge'
 'monster' 'b5media' 'avid life media' 'smalltown' 'homeaway'
 'liveuniverse' 'renren' 'dell' 'xo group' 'vector' 'mzinga' 'spot runner'
 'experian' 'demand media' 'gazprom media' 'emc' 'visible measures'
 'taylor nelson sofres' 'friendfinder networks' 'peer 1 hosting' 'entriq'
 'bmc software' 'intuit' 'live current media' 'jive software'
 'lbi international' 'meredith' 'unitedlayer' 'truphone' 'trellian'
 'forrester research' 'sony' 'cox enterprises' 'hoovers' 'oracle'
 'melbourne it' 'strands labs' 'akamai technologies' 'supportsoft'
 'mediresource' 'dotmobi' 'oleole' 'comcast' 'vodafone' 'current media'
 'geary interactive' 'hellman friedman' 'curl' 'yandex' 'new york times'
 'a123 systems' 'responsys' 'apple' 'kit digital' 'accenture' 'iwin'
 'intergraphicdesigns' 'comscore' 'intelius' 'reuters' 'mylife'
 'pageup people' 'netsuite' 'collective media' 'whitepages' 'globalscape'
 'coverity' 'symantec' 'meetic' 'glam media' 'insideview' 'satmetrix'
 'ipc media' 'popsugar' 'progress software' 'mediastay' 'buongiorno'
 'webmd' 'toro development' 'xandros' 'echo' 'twitter' 'get holding nv'
 'snipitron' 'spinmedia' 'brocade communications systems' 'xavier media'
 'openlink software' 'motorola solutions' 'espn' 'acm tech' 'craveonline'
 'vantage media' 'primaccess technologies' 'domedia' 'technorati' 'cisco'
 'active network' 'crisp thinking' 'bankrate' 'broadsoft' 'fotodesk'
 'namemedia' 'deem' 'auctiva' 'myheritage' 'automattic' 'cafe press'
 'sharethis' 'procera networks' 'general electric' 'adconion media group'
 'addthis' 'familylink' 'royaltyshare' 'red hat' 'hollywood' 'gotgame'
 'wpp' 'publicis groupe' 'webtrends' 'rackspace' 'logitech'
 'nuance communications' 'centro' 'babbel' 'perfect market' 'webfreedom'
 'populis' 'barracuda networks' 'tubemogul' 'adobe systems' 'autodesk'
 'sandisk' 'ibm']
category_code - ['search' 'news' 'web' 'social' 'games_video' 'enterprise' 'ecommerce'
 'mobile' 'advertising' 'public_relations' 'hardware' 'finance'
 'network_hosting' 'software' 'travel' nan 'other' 'consulting' 'nanotech'
 'security' 'music' 'education']

status - ['ipo' 'operating' 'closed']
founded_at - ['1998-09-07' '1986-01-01' '1994-01-01' '1984-03-19' '2004-02-01'
 '2007-07-01' '1995-09-01' '1923-10-16' '1995-01-01' '1939-01-01'
 '1985-05-24' '2007-08-01' '1922-01-01' '1999-01-01' nan '2000-09-20'
 '1971-01-01' '1981-01-01' '1996-01-01' '2000-01-01' '2001-01-01'
 '2006-10-01' '1910-01-01' '1997-02-07' '1998-01-01' '1982-01-01'
 '1980-01-01' '2005-09-01' '1906-01-01' '1985-06-17' '1995-08-01'
 '1974-04-04' '1992-01-01' '1999-09-01' '2004-01-01' '2005-06-01'
 '2005-01-15' '2005-02-01' '2005-01-01' '2002-01-01' '1984-01-01'
 '1997-01-01' '2007-01-01' '2006-06-01' '1998-01-21' '1979-01-01'
 '1980-09-19' '1983-01-01' '2001-02-07' '1902-01-01' '2006-01-01'
 '1946-01-01' '1990-01-01' '1977-01-01' '2003-10-01' '1998-08-01'
 '1996-06-16' '2006-12-01' '1963-01-01' '1997-09-23' '1976-04-01'
 '2008-01-01' '2001-08-01' '2002-08-01' '1999-08-01' '2003-01-01'
 '2002-01-17' '1997-10-01' '1987-10-14' '1997-05-01' '2003-09-01'
 '2006-04-01' '2007-03-01' '2006-03-21' '2005-03-01' '1996-12-03'
 '1928-01-01' '1979-09-07' '2007-03-07' '2007-05-30' '2002-06-01'
 '2005-11-20' '1993-01-01' '1998-09-01' '2005-07-01' '1999-10-01'
 '2008-08-21' '2006-03-01' '1926-01-01' '2001-10-15' '2004-08-01'
 '2006-11-01' '1982-12-01' '1988-01-01']
closed_at - [nan '2010-03-01' '2010-01-04' '2013-08-20' '2009-12-23']
homepage_url - ['http://google.com' nan 'http://www.scrippsnetworks.com'
 'http://www.sktelecom.com' 'http://facebook.com'
 'http://www.condenast.com' 'http://ebay.com'
 'http://thewaltdisneycompany.com' 'http://www.citysearch.com'
 'http://www.hp.com' 'http://www.aol.com' 'http://www.forbes.com'
 'http://www.yahoo.com' 'http://nielsen.com' 'http://www.techtarget.com'
 'http://www.scripps.com' 'http://amazon.com'
 'http://www.unitedonline.com' 'http://www.att.com'
 'http://www.viacom.com' 'http://vivendi.com' 'http://www.hi-media.com'
 'http://www.marchex.com' 'http://virginusa.com' 'http://www.thefind.com'
 'http://www.incisivemedia.com' 'http://nokia.com' 'http://www.fsci.com'
 'http://global.rakuten.com/corp' 'http://www.valueclick.com'
 'http://www.realnetworks.com' 'http://www.ea.com' 'http://EchoStar.com'
 'http://www.msnbc.msn.com' 'http://www.hearst.com'
 'http://americangreetings.com' 'http://www.datranmedia.com'
 'http://www.thestreet.com' 'http://corporate.discovery.com'
 'http://platial.com' 'http://www.newscorp.com' 'http://www.iac.com'
 'http://www.microsoft.com' 'http://netapp.com'
 'http://www.shutterfly.com' 'http://www.libertymedia.com'
 'http://adknowledge.com' 'http://monster.com' 'http://www.b5media.com'
 'http://www.avidlifemedia.com' 'http://www.smalltown.com'
 'http://www.HomeAway.com' 'http://www.liveuniverse.com'
 'http://renren-inc.com' 'http://www.dell.com' 'http://www.xogroupinc.com'
 'http://www.vectorcapital.com' 'http://www.mzinga.com'
 'http://www.spotrunner.com' 'http://www.experian.com'
 'http://demandmedia.com' 'http://www.gazprom-media.com' 'http://emc.com'
 'http://www.visiblemeasures.com' 'http://tnsglobal.com'
 'http://www.ffn.com' 'http://www.peer1.com' 'http://entriq.com'
 'http://www.bmc.com' 'http://www.intuit.com' 'http://www.livecurrent.com'
 'http://www.jivesoftware.com' 'http://www.lbi.com'
 'http://www.meredith.com' 'http://www.unitedlayer.com'
 'http://www.truphone.com' 'http://www.trellian.com'
 'http://forrester.com' 'http://www.sony.com' 'http://coxenterprises.com'
 'http://www.hoovers.com' 'http://oracle.com'
 'http://www.melbourneit.com.au' 'http://strands.com'
 'http://www.akamai.com' 'http://www.supportsoft.com'
 'http://www.mediresource.com' 'http://dotmobi.com'
 'http://www.oleole.com' 'http://comcast.com' 'http://vodafone.com'
 'http://current.com' 'http://www.gearylsf.com' 'http://hf.com'
 'http://curl.com' 'http://www.yandex.ru' 'http://www.newyorktimes.com'
 'http://a123systems.com' 'http://www.responsys.com'
 'http://www.apple.com' 'http://www.kitd.com' 'http://www.accenture.com'
 'http://iwin.com' 'http://www.intergraphicdesigns.com'
 'http://www.comscore.com' 'http://www.intelius.com' 'http://reuters.com'
 'http://www.mylife.com' 'http://www.pageuppeople.com'
 'http://www.netsuite.com' 'http://www.collective.com'
 'http://www.whitepages.com' 'http://www.globalscape.com'
 'http://www.coverity.com' 'http://www.symantec.com'
 'http://www.meetic.com' 'http://www.glammedia.com'
 'http://www.insideview.com' 'http://www.satmetrix.com'
 'http://www.ipcmedia.com' 'http://www.popsugar.com'
 'http://www.progress.com' 'http://mediastay.com'
 'http://www.buongiorno.com' 'http://www.webmd.com'
 'http://www.toro-intl.com' 'http://www.xandros.com'
 'http://www.aboutecho.com' 'http://twitter.com'
 'http://www.getholdingnv.com' 'http://www.snipitron.com'
 'http://www.spinmedia.com' 'http://www.brocade.com'
 'http://www.xaviermedia.com' 'http://www.openlinksw.com'
 'http://www.motorolasolutions.com' 'http://www.espn.com'
 'http://www.acmtech.it' 'http://www.craveonlinemedia.com'
 'http://www.vantagemedia.com' 'http://www.primaccess.com'
 'http://domedia.com' 'http://technoratimedia.com' 'http://www.cisco.com'
 'http://www.ACTIVEnetwork.com' 'http://www.crispthinking.com'
 'http://bankrate.com' 'http://www.broadsoft.com'
 'http://www.fotodesk.com' 'http://www.namemedia.com'
 'http://www.deem.com' 'http://www.auctiva.com'
 'http://www.myheritage.com' 'http://automattic.com'
 'http://www.cafepress.com' 'http://sharethis.com'
 'http://www.proceranetworks.com' 'http://www.ge.com'
 'http://www.adconion.com' 'http://www.addthis.com'
 'http://www.familylink.com' 'http://royaltyshare.com'
 'http://www.redhat.com' 'http://www.hollywood.com'
 'http://www.gotgame.com' 'http://www.wpp.com'
 'http://www.publicisgroupe.com' 'http://www.webtrends.com'
 'http://www.rackspace.com' 'http://logitech.com' 'http://www.nuance.com'
 'http://www.centro.net' 'http://www.babbel.com'
 'http://www.perfectmarket.com' 'http://webfreedom.co.nz'
 'http://www.populis.com' 'https://www.barracuda.com'
 'http://www.tubemogul.com' 'http://www.adobe.com'
 'http://www.autodesk.com' 'http://www.sandisk.com' 'http://www.ibm.com']
country_code - ['USA' 'KOR' 'FRA' 'GBR' 'FIN' 'JPN' 'CAN' 'CHN' 'RUS' 'MYS' 'SWE' 'AUS'
 'IRL' 'CZE' 'CRI' 'ITA' 'HKG' 'NLD' 'IND' 'CHE' 'ISR' 'DEU' 'NZL']
state_code_x - ['CA' 'TN' nan 'NY' 'MA' 'OH' 'WA' 'TX' 'CO' 'NJ' 'OR' 'MO' 'FL' 'IA' 'GA'
 'PA' 'VA' 'IL' 'MD' 'CT' 'UT' 'NC']
city_x - ['Mountain View' nan 'Knoxville' 'Seoul' 'Menlo Park' 'New York'
 'San Jose' 'Burbank' 'West Hollywood' 'Palo Alto' 'Sunnyvale' 'Newton'
 'Cincinnati' 'Seattle' 'Woodland Hills' 'Dallas' 'London' 'Tokyo'
 'Redwood City' 'Englewood' 'Secaucus' 'Portland' 'Redmond' 'Kansas City'
 'Toronto, ON' 'Toronto' 'San Mateo' 'Austin' 'Beijing' 'Round Rock'
 'San Francisco' 'Burlington' 'Los Angeles' 'Costa Mesa' 'Santa Monica'
 'Saint-Petersburg' 'Hopkinton' 'Boston' 'Boca Raton' 'Vancouver'
 'Carlsbad' 'Houston' 'Vancouver, BC' 'Stockholm' 'Des Moines' 'Beaumaris'
 'Cambridge' 'San Diego' 'Atlanta' 'Melbourne' 'Dublin' 'Beverly Hills'
 'Philadelphia' 'Berkshire' 'Moscow' 'Watertown' 'San Bruno' 'Cupertino'
 'Prague' 'Tibás, San José' 'Reston' 'Bellevue' 'Melbourne, VIC'
 'San Antonio' 'Boulogne-Billancourt' 'Brisbane' 'Bedford'
 'Levallois Perret' 'Milan' 'San francisco' 'Zaandijk' 'Chicago'
 'Hollywood' 'Vaja' 'Schaumburg' 'Cuneo' 'El Segundo' 'Hyderabad'
 'Columbus' 'Leeds' 'North Palm Beach' 'Gaithersburg' 'Basel' 'Waltham'
 'Chico' 'Or Yehuda' 'Fremont' 'Fairfield' 'Vienna' 'Provo' 'Raleigh'
 'Paris' 'Berlin' 'Pasadena' 'Hamilton' 'Dublin 4' 'Campbell' 'Emeryville'
 'San Rafael' 'Milpitas' 'Armonk']
region - ['SF Bay' 'California - Other' 'Knoxville' 'Seoul' 'New York'
 'Los Angeles' 'Boston' 'Cincinnati' 'Seattle' 'TBD' 'Dallas'
 'France - Other' 'London' 'Finland - Other' 'Tokyo' 'Denver' 'Secaucus'
 'Portland' 'Kansas City' 'Toronto' 'Austin' 'Beijing' 'Saint Petersburg'
 'Palm Beach' 'Vancouver' 'San Diego' 'Houston' 'Stockholm' 'Des Moines'
 'Beaumaris' 'Atlanta' 'Melbourne' 'Dublin' 'Philadelphia' 'Berkshire'
 'Moscow' 'Prague' 'Tibás' 'Washington DC' 'San Antonio' 'Paris'
 'Levallois Perret' 'Milan' 'Hong Kong - Other' 'Zaandijk' 'Chicago'
 'Vaja' 'Cuneo' 'Hyderabad' 'Columbus' 'Leeds' 'Basel' 'Chico' 'Or Yehuda'

 'Fairfield' 'Salt Lake City' 'Raleigh-Durham' 'Berlin' 'Hamilton']
first_investment_at - ['2004-06-18' '2006-10-01' nan '2008-04-03' '2008-12-01' '2007-10-23'
 '2004-01-22' '2009-04-30' '2010-03-08' '2006-03-01' '1996-01-01'
 '1998-01-01' '2013-02-01' '2010-11-08' '2005-04-01' '2006-06-01'
 '2006-12-01' '2005-08-01' '2008-03-03' '2004-01-01' '2011-09-08'
 '2006-10-30' '2009-12-14' '2005-07-06' '2008-01-01' '2008-04-24'
 '2007-01-01' '2005-11-01' '1987-06-16' '2005-04-17' '2008-09-03'
 '2008-02-29' '2013-03-27' '2007-06-05' '2013-06-27' '2002-09-16'
 '2011-02-17' '2006-04-01' '2007-06-18' '2008-08-06' '2010-09-27'
 '2010-05-01' '2009-10-20' '1995-11-30' '2010-01-11' '2005-04-14'
 '2008-06-01' '2005-05-05' '1998-05-01' '2007-09-10' '2009-06-05'
 '2010-06-28' '2006-02-15' '2004-07-26' '2003-11-17' '2013-07-16'
 '2007-03-21' '2012-08-20' '2013-03-07' '2007-03-22' '2009-09-30'
 '2010-04-07' '2000-08-28']
last_investment_at - ['2013-05-01' '2007-02-26' nan '2010-02-18' '2013-11-12' '2013-09-02'
 '2013-07-16' '2009-04-30' '2010-03-08' '2007-09-01' '2005-11-01'
 '2013-09-09' '2013-02-01' '2010-11-08' '2013-09-10' '2013-03-20'
 '2011-02-04' '2008-06-25' '2008-03-03' '2012-05-01' '2013-12-02'
 '2006-10-30' '2009-12-14' '2013-05-30' '2008-01-01' '2008-04-24'
 '2012-12-19' '2013-05-29' '2012-02-14' '2013-08-01' '2007-08-08'
 '2012-10-08' '2013-02-21' '2013-03-27' '2013-10-04' '2013-06-27'
 '2002-09-16' '2012-07-16' '2013-01-18' '2008-08-06' '2011-09-29'
 '2012-07-25' '2011-02-22' '2012-01-05' '2013-07-31' '2006-11-14'
 '2010-01-11' '2012-07-11' '2008-06-01' '2013-04-01' '2013-07-25'
 '2008-08-27' '2013-11-18' '2009-06-05' '2012-11-01' '2013-11-13'
 '2013-04-08' '2013-05-14' '2013-02-20' '2013-03-07' '2013-03-28'
 '2013-09-26' '2013-11-25' '2008-03-25']
investment_rounds - [29.  3. nan  5. 17.  1.  2.  6. 11. 24. 12.  9.  8.  4.  7. 14. 89. 16.
 32.]
invested_companies - [26.  3. nan  5. 11.  1.  2.  9. 18. 10.  8.  4.  7.  6. 16. 13. 73. 21.]
first_funding_at - ['1998-08-01' nan '2010-03-01' '2004-09-01' '1997-06-01' '2005-12-01'
 '1995-04-01' '1995-07-01' '2005-02-01' '2006-04-18' '2010-02-01'
 '2011-08-15' '2005-03-01' '2010-01-13' '2005-10-01' '2010-01-08'
 '2006-03-01' '2006-10-15' '2005-11-01' '2005-01-01' '2006-03-11'
 '1996-01-01' '2008-03-03' '2006-01-01' '2006-04-01' '2010-10-28'
 '2011-01-19' '2007-08-01' '2007-01-01' '2013-05-08' '2005-07-29'
 '2000-04-01' '2009-01-20' '2000-02-15' '2008-04-18' '2000-09-01'
 '2012-11-20' '2011-08-18' '2007-10-01' '2005-08-01' '2008-02-01'
 '2004-07-01' '2007-06-01' '2009-09-10' '2006-10-01' '2000-01-01'
 '2008-01-01' '2007-07-01' '2009-01-06' '2007-05-24' '2010-01-20'
 '2007-02-28' '2002-09-01' '1987-01-01' '1999-09-01' '2002-09-09'
 '2004-01-01' '2000-03-01' '2009-11-19' '2008-02-24' '2006-05-01'
 '2006-07-31' '2007-03-15' '2010-12-30' '2008-11-06' '2008-07-09'
 '2008-07-01' '2006-01-09' '2007-10-15']
last_funding_at - ['1999-06-07' nan '2010-03-01' '2011-01-21' '1997-06-01' '2005-12-01'
 '1995-11-30' '1995-07-01' '2007-07-01' '2006-04-18' '2010-02-01'
 '2011-08-15' '2011-05-18' '2010-01-13' '2007-02-01' '2010-01-08'
 '2011-01-12' '2006-10-15' '2005-11-01' '2010-10-01' '2008-04-30'
 '1999-04-15' '2009-09-23' '2008-05-07' '2013-09-04' '2012-09-06'
 '2010-10-28' '2011-01-19' '2013-05-03' '2008-10-21' '2007-01-01'
 '2013-05-08' '2005-07-29' '2000-04-01' '2009-01-20' '2012-06-07'
 '2003-04-02' '2008-05-08' '2002-06-06' '2007-04-01' '2012-11-20'
 '2011-08-18' '2013-07-12' '2005-08-01' '2008-02-01' '2013-08-14'
 '2013-08-12' '2009-09-10' '2011-04-12' '2011-04-08' '2008-01-01'
 '2008-10-14' '2011-09-08' '2009-01-06' '2013-03-25' '2010-01-20'
 '2007-02-28' '2009-10-13' '1987-01-01' '2011-02-15' '2007-07-17'
 '2013-09-24' '2012-11-28' '2005-02-01' '2013-08-19' '2009-11-19'
 '2011-05-09' '2011-10-31' '2008-02-25' '2008-08-12' '2008-04-01'
 '2010-12-30' '2013-03-26' '2011-01-18' '2008-07-01' '2009-10-08'
 '2013-05-29']
funding_rounds - [ 2. nan  1. 11.  3.  6.  7.  9.  5.  4.  8. 10.]
funding_total_usd - [2.51000000e+07            nan 1.00000000e+07 2.42570000e+09
 6.70000000e+06 1.00000000e+09 6.80000000e+06 8.00000000e+06
 2.60000000e+07 4.24000000e+07 4.50000000e+07 9.73124710e+07
 6.94770540e+07 3.10000000e+06 3.40000000e+06 1.25000000e+07
 2.48000000e+08 2.00000000e+06 4.00000000e+06 5.13066458e+08
 4.78000000e+08 1.96000000e+07 4.25000000e+07 1.01000000e+08
 6.22552813e+08 8.99999990e+07 5.51200000e+08 6.94267940e+07
 5.51230000e+07 5.00000000e+06 7.25000000e+08 1.50000000e+07
 5.30000000e+06 2.50000000e+08 5.02860000e+08 5.19000000e+07
 2.00000000e+07 6.56000000e+07 2.63700000e+07 1.50000000e+06
 8.64000020e+07 2.20000000e+07 1.99600000e+08 5.64620000e+07
 1.00000000e+06 4.60000000e+07 2.15000000e+07 1.47210000e+06
 4.80000000e+06 1.16016651e+09 5.66610000e+06 5.85000000e+07
 3.00000000e+08 7.00000000e+07 3.21000000e+07 2.50000000e+06
 2.19378750e+08 4.66905435e+08 4.90000000e+07 3.06000000e+07
 1.55000000e+07 8.28500000e+07 1.14000000e+08 7.30000000e+07
 3.65000000e+06 1.15000000e+07 2.25000000e+07 1.81412500e+07
 4.56100000e+07 5.31570470e+07]
relationships - [1.046e+03 4.200e+01 1.300e+01 8.000e+00 2.690e+02 4.500e+01 3.240e+02
 1.220e+02 4.700e+01 6.140e+02 3.870e+02 2.500e+01 9.820e+02 5.100e+01
 1.000e+01 3.000e+00 2.460e+02 2.000e+01 2.200e+01 3.920e+02 4.600e+01
 1.500e+01 4.000e+00 1.800e+01 5.000e+00 2.100e+02 3.600e+01 3.500e+01
 9.600e+01 1.620e+02 1.100e+01 1.600e+01 6.000e+00 1.900e+01 2.100e+01
 9.200e+01 7.800e+01 9.000e+01 1.189e+03 4.100e+01 1.200e+01 3.800e+01
 7.100e+01 2.900e+01 7.000e+00 3.000e+01 2.000e+00 1.600e+02 1.700e+01
 3.300e+01 5.400e+01 5.200e+01 1.750e+02 2.600e+01 9.000e+00 6.800e+01
 1.630e+02 3.400e+01 6.250e+02 2.300e+01 8.400e+01 9.700e+01 6.100e+01
 2.400e+01 1.000e+00 8.000e+01 3.100e+01 4.690e+02 4.730e+02 3.200e+01
 1.830e+02 4.300e+01 2.540e+02 5.470e+02 2.800e+01 3.700e+01 2.750e+02
 7.000e+01 6.000e+01 1.950e+02 7.600e+01 8.700e+02]
description_y - ['Google Mexico' 'Google Haifa' 'Google Tel Aviv' 'Google Istanbul'
 'Google Dubai' 'Google Headquarters' 'Google Ann Arbor' 'Google Atlanta'
 'Google Austin' 'Google Boulder' 'Google Cambridge' 'Google Chicago'
 'Google Coppell' 'Google Dallas' 'Google Denver' 'Google Detroit'
 'Google Irvine' 'Google Kirkland' 'Google New York' 'Google Phoenix'
 'Google Pittsburgh' 'Google San Francisco' 'Google Santa Monica'
 'Google Seattle' 'Google Washington DC' 'Google Melbourne'
 'Google Sydney' 'Google Beijing' 'Google Guangzhou' 'Google Shanghai'
 'Google Hong Kong' 'Google Bangalore' 'Google Delhi'
 'Google Delhi (Honeybee)' 'Google Hyderabad' 'Google Mumbai'
 'Google Japan Headquarters' 'Google Osaka' 'Google Seoul'
 'Google Singapore' 'Google Taipei' 'Google Aarhus' 'Google Copenhagen'
 'Google Helsinki' 'Google Paris' 'Google Hamburg' 'Google Dublin'
 'Google Italy' 'Google Amsterdam' 'Google Oslo' 'Google Trondheim'
 'Google Kraków' 'Google Wrocław' 'Google Moscow' 'Google St. Petersburg'
 'Google Madrid' 'Google Luleå Sweden' 'Google Stockholm' 'Google Zürich'
 'Google London' 'Google Manchester' 'Google Montreal' 'Google Toronto'
 'Google Waterloo' 'Google Buenos Aires' 'Google Sao Paulo' nan
 'Headquarters' 'Europe HQ' 'New York' 'HP Labs' 'HQ'
 'Global headquarters' 'Corporate Headquarters' 'headquarter'
 'Headquarter' 'German Office' 'World Headquarters'
 'Boise Development Center' 'Adknowledge New York'
 'Adknowledge San Francisco' 'Adknowledge Fort Myers'
 'Adknowledge Toronto' 'Adknowledge UK' 'Adknowledge Germany'
 'Adknowledge France' 'Adknowledge China' 'Head Office' 'San Diego'
 'Palo Alto HQ' 'Frankfurt Office' 'Boulder Office' 'Portland Office'
 'Israel R&D Center' 'San Francisco' 'Los Angeles' 'Tru UK / Head Office'
 'Tru Americas' 'Tru Australia' 'Tru Spain' 'Tru Netherlands'
 'Tru Asia-Pac' 'dotMobi HQ' 'One Comcast Center' 'main office'
 'San Diego Office' 'Office in St. Petersburg' 'Office in Ekaterinburg'
 'Office in Novosibirsk' 'Office in Odessa' 'Office in Kiev'
 'Office in Simferopol' 'Office in California' 'Office in Europe'
 'New York Office' 'Corporate HQ in Prague' 'London Office'
 'Melbourne Office' 'Stockholm Office' 'Buenos Aires Office'
 'Cairo Office' 'Singapore Office' 'Toronto Office' 'Dubai Office'
 'Southern California' 'Northern California' 'Sales Office'
 'Tech & Dev Office' 'Symantec Sydney' 'Global Headquarters'
 'European Headquarters' 'India - Trivandrum' 'India - Bangalore'
 'Atlanta, Georgia' 'San Francisco Office' 'Los Angeles Office'
 'Chicago Office' 'MEDIASTAY SAS' 'MEDIASTAY NORTH AMERICA' 'Argentina'
 'Australia' 'Austria' 'Belgium e Netherlands' 'Brasil' 'Finland' 'France'
 'Germany' 'Greece' 'Hong Kong' 'India' 'Ireland' 'Mexico' 'Nigeria'
 'Norway' 'Portugal' 'Russia' 'Spain' 'South Africa' 'Switzerland'
 'Turkey' 'UK' 'USA' 'R&D, Global operation' 'Europe regional operatoin'
 'Europe R&D, Delivery' 'Holding' 'Office' 'Marketing & Sales'
 'Asia Pacific Headquarters' 'R&D' 'USA Office' 'UK Office'
 'Disney Interactive' 'Scottsdale Office' 'Software Engineering'
 'Scottsdale, Arizona' 'Bangalore India Office' 'Secaucus, New Jersey'
 'Automattic Lounge' 'U.S. Headquarters' 'Asia/Pacific Headquarters'
 'Japan Office' 'China/N. Asian Office' 'HQ - Virginia' 'Michigan Office'
 'FamilyLink.com, Inc.' 'S. America Headquarters' 'NYC' 'Florida'
 'GotGame HQ' 'American Headquarters' 'Logitech Audio Group'
 'Remote Controls Group' 'Streaming Media Systems' 'East' 'South' 'West'
 'Lesson Nine GmbH' 'WebSpring NZ' 'GoAdv Dublin' 'GoAdv Rome'

 'Company Headquarters']
city_y - ['Mexico' 'Haifa' 'Tel-Aviv' 'Istanbul' 'Dubai' 'Mountain View'
 'Ann Arbor' 'Atlanta' 'Austin' 'Boulder' 'Cambridge' 'Chicago' 'Coppell'
 'Dallas' 'Denver' 'Birmingham' 'Irvine' 'Kirkland' 'New York' 'Tempe'
 'Pittsburgh' 'San Francisco' 'Santa Monica' 'Seattle' 'Washington'
 'Melbourne' 'Sydney' 'Beijing' 'Guangzhou' 'Shanghai' 'Central'
 'Bangalore' 'Gurgaon' 'New Delhi' 'Hyderabad' 'Mumbai' 'Tokyo' 'Osaka'
 'Seoul' 'Singapore' 'Taipei' nan 'Helsinki' 'Paris' 'Hamburg' 'Dublin'
 'Milan' 'Amsterdam' 'Oslo' 'Trondheim' 'Kraków' 'Wroclaw' 'Moscow'
 'St. Petersburg' 'Madrid' 'Luleå' 'Stockholm' 'Zürich' 'London'
 'Manchester' 'Montreal' 'Toronto' 'Waterloo' 'Buenos Aires' 'Sao Paulo'
 'Knoxville' 'Menlo Park' 'San Jose' 'Burbank' 'West Hollywood'
 'Palo Alto' 'Sunnyvale' 'Newton' 'Cincinnati' 'Woodland Hills'
 'Unterhaching' 'Redwood City' 'Englewood' 'Secaucus' 'Portland' 'Redmond'
 'Boise' 'Kansas City' 'Fort Myers' 'Covent Garden, London' 'Munich'
 'Toronto, ON' 'San Mateo' 'Round Rock' 'Burlington' 'Los Angeles'
 'Costa Mesa' 'Bellevue' 'Saint-Petersburg' 'Hopkinton' 'Boston'
 'Boca Raton' 'Vancouver' 'Carlsbad' 'Houston' 'San Diego' 'Vancouver, BC'
 'Frankfurt am Main' 'Or Yehuda' 'Des Moines' 'Bilthoven' 'Beaumaris'
 'Corvalis' 'Barcelona' 'Beverly Hills' 'Philadelphia' 'Berkshire'
 'Saint Petersburg' 'Ekaterinburg' 'Novosibirsk' 'Odessa' 'Kiev'
 'Simferopol' 'Luzern' 'Watertown' 'San Bruno' 'Cupertino' 'Prague'
 'Windsor, Victoria' 'Ciudad de Buenos Aires' 'Maspero, Cairo'
 'Mississauga, Ontario' 'Edinburgh' 'Toronto, Ontario' 'Tibás, San José'
 'Reston' 'tulsa' 'Los Altos' 'Melbourne, VIC' 'Johns Creek'
 "Jing'an District, Shanghai" 'Frisco' 'Southfield' 'Charlestown'
 'Fort Worth' 'San Antonio' 'Boulogne-Billancourt' 'Brisbane'
 'Marathalli ORR, Deverabeesanahalli,' 'Culver City' 'Bedford'
 'Levallois Perret' 'Parma' 'North Sydney NSW' 'Wien' 'The Hague'
 'São Paulo' 'Berlin' 'Athens' 'Hong Kong' 'México D.F.' 'Lagos' 'Lisbon'
 'Cape Town' 'Buchs' 'Los Gatos' 'Frankfurt' 'Ottawa' 'Poznan'
 'San francisco' 'Zaandijk' 'Willemstad, Curacao' 'Aliso Viejo'
 'Hollywood' 'Geneva' 'Vaja' 'Miami' 'Croydon, Surrey' 'Schaumburg'
 'Cuneo' 'Scottsdale' 'El Segundo' 'Columbus' 'Leeds' 'North Palm Beach'
 'Gaithersburg' 'Basel' 'Trivandrum' 'Waltham' 'Scotts' 'Chico' 'Fremont'
 '432 40 Varberg' 'Minato-ku Tokyo' 'Fairfield' 'M' 'Vienna' 'Troy'
 'Provo' 'Raleigh' 'Dublin 2' 'Mississauga' 'Pasadena' 'Hamilton'
 'Dublin 4' 'Rome' 'Campbell' 'Fresno' 'Hampshire' 'Sydney, NSW'
 'Emeryville' 'San Rafael' 'Milpitas' 'Armonk']
zip_code - ['1100' '31905' '66183' '34394' '1' nan '48104' '30309' '78731' '80302'
 '02142' '60610' '75019' '75219' '80237' '48009' '92612' '98033' '10011'
 '85281' '15213' '94105' '90401' '98103' '20005' '3000' '2000' '100084'
 '510620' '200001' '560 001' '122002' '110044' '500 081' '400 025'
 '150-8512' '550-0002' '135 984' '048583' '110' '75002' '20354' '4'
 '20122' '1082' 'N-0164' '7014' '31-123' '50-265' '115035' '191186'
 '28020' '977 75' '111 21' '8002' 'SW1W 9TQ' 'M1 5AN' 'H3B4W5' 'M5J 2S1'
 'N2L 6R6' 'C1107AAH' '04538-132' '37950' '94025' '10017' '94025.0'
 '10017.0' '10036-6518' '95125' '91521' '90069' '94304-1185' '94304'
 '10003' '94089' '94089.0' '10004.0' '2466.0' '45202.0' '98144.0'
 '91367.0' '10036' 'Paris, 75002' '98101' '94041' 'SW1Y 4RX' 'FIN-00045'
 '98109' '140-0002' '82008' '98121' '94065' '80112' '07094-2419' '10011.0'
 '83702.0' '83702' '64112' '10001' '33907' 'M5V 2L3' 'WC2E 9EZ' '75011'
 '200021' 'M5T 2C2' '10010' 'M4P 1E4' '94401' '78703' '100028' '78682'
 '10013' '94105-1420' '01803' '90048' '92626' '78704' '98008' 'EC2A 4HJ'
 '01748' '02111' '56100' 'V6B 4N5' '92008' '77042' '94043' '92129'
 'V6B 5C6' '94301' '60327' '97205' 'SE-111 43' '50309-3023' '94124'
 '90014' 'EC3N 4HJ' '10167' '28013' '3723BC' '02139' '92127' '30328'
 '78752' '94065-1677' '94104' '97333' '08018' '94063' 'M3C 1T5' '0000001'
 '90212' '19103' 'RG14 2FN' '94107' '94102' '92101' '94111' '119021'
 '195027' '620014' '630004' '65044' '02002' '95011' 'CA 94306' 'CH 6005'
 '10018' '02472' '94066' '95014' 'SE1 2AQ' 'SE-111 36' 'C1024AAF' '11221'
 '079903' 'L4W 4L5' '92108' '30308' 'EH2 2AF' 'M5H 1J8' '81-1100 Tibás'
 '20190' '98004' '90025' '94022' '30097' 'WC2H 9BP' '200040' '94403'
 '10016' '60601' '48067' '02129' '76102' '78249' '94005' 'W14 OQL'
 '695581' 'Varthur Hobli, Bangalore – 87' 'SE1 0SU' '90232' 'W4 5PY'
 '60611' '01730' '92300' '43100' 'C1425FUG' '2060' '1030' '2517' '1110'
 '00180' '75008' '10965' '15231' '1001' '110001' '3050' '11590' '1649'
 '0153' '1700-093' '101000' '28002' '8001' '9470' 'EC2A 4PF' '95032'
 'Central' '75004' '60-189' 'RG12 1HB' 'CEP 05003-050' '94010' '94103'
 '1544BL' '60607' '92656' '90028' '60654' '95131' '03' '1215' '87350'
 '33166' '11667' 'CR0 0XZ' '60196' '91521-7667' '12100' '90056' '60602'
 '85250' '90245' '500050' '43215' '94108' '95134' '92121' 'LS10 1JW'
 '33408' '20878' '4053' '02451' '85260' '560001' '07094' '95928' '94404'
 '94304-1227' '94538' '038988' '108-6028' '06828' '90404' '80339' '22182'
 '10012' '60606' '48084' '84604' '27606' 'C1107AAP' '85609' '90068'
 '33431' '10017-5529' '97204' '78218' 'UB3 4AZ' 'Fremont' '98683'
 'L4W 4Y6' '75201' '10961' '91103' '3204' '00144' '95008' '93720' '75001'
 'RG22 6HY' '94608' '94903' '95035' '10504']
latitude - [ 19.507519          nan  37.421972   42.280988   33.781466   30.351416
  40.021416   42.36305    41.889474   32.981465   32.809161   39.62919
  42.547807   33.658331   40.74222    33.411898   40.444528   37.789803
  34.019282   47.675326   47.649701   38.901113  -37.879234  -34.822723
  28.86999    56.171882   48.869606   53.554052   53.339914   45.46381
  52.337495   59.915848   63.435324   50.063281   51.116574   65.617491
  59.332344   47.36554    53.473606   45.498588   43.474704  -23.590463
  37.269175   37.09024    37.41605    53.344104   40.7557162  37.295005
  34.156802   34.090932   37.437328   40.7311317  40.736416   37.418531
  40.731118   47.5923     40.757725   47.611201   40.757929   37.391502
  60.170514   47.613944   37.5230435  40.707645   45.523104   43.155744
  40.745172   47.643583   43.613184   39.044694   40.748901   37.78866
  26.580095   43.6474554  51.5114403  48.1635092  48.8506065  31.222622
  42.42517    43.706849   37.566123   34.090228   39.9570649  30.486188
  40.720824   37.793473   42.489827   34.0634413  33.689171   42.196083
  42.3536303  51.500152   26.4074809  49.284386   33.122499   29.7805488
  37.428373   32.957695   49.284608   59.335028   37.724999  -37.986693
  42.3632     33.925752   37.476479  -37.814251   42.364059   43.717677
  53.3295544  34.067153   39.9525762  51.417565   37.7795182  37.7872512
  32.718379   37.7953169  42.362993   47.0419512  42.363776   37.330534
  40.751816   59.3369746  43.6587599  37.781689   38.9579071  47.614723
  34.041672   37.395335  -38.372965   42.377224   51.515124   37.536172
  40.7505602  47.608721   29.584017   37.7759675  37.321529   48.84325
  37.674705   37.764169   37.55818    51.505671   37.78976    42.513363
  48.891494   45.455322   44.798391  -33.804474   48.202731   52.083971
 -23.60918    60.163748   48.877049   52.488331   38.007084   22.279704
  28.627906   53.293363   20.686477   59.909996   38.753759   40.4487974
  41.029886   51.5232478  37.229898   40.7410886  25.0469663  41.3850639
  40.746368   50.980474   45.32653    52.413065  -23.527594   38.0729365
  37.7768052  52.475393   41.877913   33.559392   34.09762    37.376066
  46.23187    62.9707045  25.8235041  59.3070055  42.027319   34.159434
  44.391562   33.987978   33.902696   39.967704   37.779558   37.408802
  32.9020665  39.141511   46.465626    8.503696   42.389557   37.559836
  39.7293     32.029748   37.744274   37.556966   37.4203945  37.239588
  41.216225   38.926172   40.724604   34.0263021  42.557958   40.250096
  32.893366   35.77402    48.148317   34.133714   37.77772    40.751513
  48.8698008  45.518038   29.527664   37.551283   45.610208   43.653647
  37.401264   42.484758   41.889853   40.7408753  32.7819239  34.0312388
  52.4897     34.146436  -37.7806203  41.8663418  37.836957   37.320052
  38.0062745  37.4180721  41.109534 ]
longitude - [-9.90301560e+01             nan -1.22084143e+02 -8.37488820e+01
 -8.43875190e+01 -9.77513820e+01 -1.05260931e+02 -7.10874780e+01
 -8.76289120e+01 -9.70181960e+01 -9.68076930e+01 -1.04898419e+02
 -8.32154980e+01 -1.17861817e+02 -7.40044890e+01 -1.11926263e+02
 -7.99462690e+01 -1.22389757e+02 -1.18494288e+02 -1.22351397e+02
 -1.22350592e+02 -7.70271010e+01  1.45073608e+02  1.38612396e+02
  7.71222610e+01  1.01877990e+01  2.33274900e+00  9.98526600e+00
 -6.23442400e+00  9.19597800e+00  4.87146400e+00  1.07410470e+01
  1.04124280e+01  1.99298060e+01  1.70419420e+01  2.21262550e+01
  1.80601620e+01  8.52486400e+00 -2.25016600e+00 -7.35670440e+01
 -8.05463810e+01 -4.66814940e+01 -1.19306607e+02 -9.57128910e+01
 -1.22151801e+02 -6.26749400e+00 -7.39792469e+01 -1.21930035e+02
 -1.18324987e+02 -1.18384280e+02 -1.22159928e+02 -7.39919311e+01
 -7.39933020e+01 -1.22025485e+02 -7.39919330e+01 -1.22317295e+02
 -7.39860110e+01 -1.22336825e+02 -7.39855060e+01 -1.22073463e+02
  2.48272240e+01 -1.22351435e+02 -1.22254223e+02 -7.40108160e+01
 -1.22670132e+02 -7.56156090e+01 -7.40076460e+01 -1.22128585e+02
 -1.16209356e+02 -9.45978960e+01 -7.39924630e+01 -1.22401406e+02
 -8.18790690e+01 -7.93953743e+01 -1.22921200e-01  1.15582609e+01
  2.37978250e+00  1.21477038e+02 -7.14567700e+01 -7.93983450e+01
 -1.22323045e+02 -1.18393843e+02  1.16446281e+02 -9.76711880e+01
 -7.40000700e+01 -1.22402667e+02 -7.12233590e+01 -1.18365430e+02
 -1.17874221e+02 -7.15408750e+01 -7.10590483e+01 -1.26236000e-01
 -8.01169895e+01 -1.23112429e+02 -1.17289278e+02 -9.53457921e+01
 -1.22097604e+02 -1.17158245e+02 -1.23110394e+02  1.80612490e+01
 -1.22397254e+02  1.45034682e+02 -7.10923780e+01 -8.43502270e+01
 -1.22221717e+02  1.44963169e+02 -7.10890700e+01 -7.93376460e+01
 -6.33445810e+00 -1.18409161e+02 -7.51652518e+01 -1.31306800e+00
 -1.22390262e+02 -1.22403977e+02 -1.17160661e+02 -1.22399158e+02
 -7.10865960e+01  8.31408140e+00 -7.11662160e+01 -1.22028961e+02
 -7.39716550e+01  1.80580765e+01 -7.95983626e+01 -1.22391061e+02
 -7.73577568e+01 -1.22196262e+02 -1.18469804e+02 -1.22102339e+02
  1.44816292e+02 -7.62951260e+01 -1.23614000e-01 -1.22327323e+02
 -7.39786753e+01 -1.22333786e+02 -9.85701890e+01 -1.22393113e+02
 -1.22028351e+02  2.23780300e+00 -1.22384610e+02 -1.22402021e+02
 -1.22276454e+02 -9.99010000e-02 -1.22402524e+02 -7.12522960e+01
  2.29272800e+00  9.18550200e+00  1.03261490e+01  1.51104553e+02
  1.63959110e+01  4.28585300e+00 -4.66927830e+01  2.48996070e+01
  2.31467900e+00  1.33937180e+01  2.38002050e+01  1.14165023e+02
  7.72279700e+01 -6.42258700e+00 -1.03422819e+02  1.07417120e+01
 -9.15226400e+00 -3.66976410e+00  2.89405700e+01 -8.25710000e-02
 -1.21971853e+02 -7.40015261e+01  1.21566415e+02  2.17340350e+00
 -7.39839720e+01  7.34500900e+00 -7.58357060e+01  1.68277640e+01
 -4.66770490e+01 -1.22187963e+02 -1.22416924e+02  4.81283300e+00
 -8.76492280e+01 -1.17729385e+02 -1.18331303e+02 -1.21926678e+02
  6.11026400e+00  1.76978057e+01 -8.03101684e+01  1.80817192e+01
 -8.80797630e+01 -1.18324046e+02  7.54911000e+00 -1.18362442e+02
 -1.18387511e+02 -8.30050380e+01 -1.22393041e+02 -1.21953770e+02
 -1.17207749e+02 -7.72093940e+01  6.84546400e+00  7.69521870e+01
 -7.12605090e+01 -1.22271532e+02 -1.21835193e+02  3.48561730e+01
 -1.22421344e+02 -1.22280005e+02 -1.22087227e+02 -1.21973210e+02
 -7.32525873e+01 -7.72451950e+01 -7.39968760e+01 -1.18380954e+02
 -8.31678840e+01 -1.11643179e+02 -1.17200035e+02 -7.86778640e+01
  1.16819980e+01 -1.18358376e+02 -1.22395785e+02 -7.39779465e+01
  2.30758590e+00 -1.22679340e+02 -9.85629930e+01 -1.22062263e+02
 -1.22500449e+02 -7.96042390e+01 -1.22053049e+02 -7.11927390e+01
 -8.76355433e+01 -7.39920174e+01 -9.67905140e+01 -1.18473506e+02
  1.33886100e+01 -1.18153136e+02  1.75274658e+02  1.24972454e+01
 -1.22286493e+02 -1.21877636e+02 -1.22531566e+02 -1.21920717e+02
 -7.37239990e+01]

From the above result we deduce the following:
 * we don't need the columns which only have IDs in our ML model: acquisition_id, relationship_object_id, entity_id
 * investigate more the columns which contain nan values: price_amount, price_currency_code, subject, first_investment_at, last_investment_at, investment_rounds, invested_companies, first_funding_at, last_funding_at, funding_rounds, funding_total_usd, zip_code  
 * the column 'Aquired' only contains the value _False_ => we don't need it
 * the column 'entity_type'  only contains the value _Company_ => we don't need it
 * the column 'closed\_at' contains only 4 unique values and nan => further investigate 
 * the columns 'latitude' and 'longitude' are not needed since we have information about location, such as contry, city and zip code
 * the column 'relationships' contains irrelevant data for us => we drop it

In [10]:
# drop the columns which contains ids
df.drop(['acquisition_id', 'relationship_object_id', 'entity_id'], axis=1, inplace=True)

# drop the columns which we don't need
df.drop(['Aquired', 'entity_type', 'relationships', 'latitude', 'longitude'], axis=1, inplace=True)

In [11]:
# Summary statistics
df.describe(include="all")

,price_amount,price_currency_code,acquired_at,full_name,subject,normalized_name,category_code,status,founded_at,closed_at,homepage_url,country_code,state_code_x,city_x,region,first_investment_at,last_investment_at,investment_rounds,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,description_y,city_y,zip_code
count,1.995730e+06,7210949,7210707,7210715,5864970,7210978,7210800,7210978,7151879,25,7210591,7210978,7200134,7204097,7210978,7187982,7187982,7.187982e+06,7.187982e+06,6704149,6704149,6.704149e+06,6.704113e+06,6994072,7011070,6587020
unique,NaN,6,1414,8937,2361,184,21,3,93,4,181,23,21,100,59,62,63,NaN,NaN,68,76,NaN,NaN,201,208,305
top,NaN,USD,2009-11-09,Erick Tseng,Computer Science,google,search,ipo,1998-09-07,2009-12-23,http://google.com,USA,CA,Mountain View,SF Bay,2004-06-18,2013-05-01,NaN,NaN,1998-08-01,1999-06-07,NaN,NaN,Google Seattle,Seattle,98103
freq,NaN,7104820,104242,8784,1198520,6474215,6475198,7202329,6474215,10,6474215,7201046,6845495,6483703,6830840,6474215,6518695,NaN,NaN,6474215,6474215,NaN,NaN,193260,202671,193260
mean,6.241055e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.787791e+01,2.493463e+01,NaN,NaN,2.018723e+00,3.645655e+07,NaN,NaN,NaN
std,2.138176e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.477186e+00,7.117151e+00,NaN,NaN,5.745654e-01,1.529393e+08,NaN,NaN,NaN
min,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,1.000000e+00,NaN,NaN,1.000000e+00,1.000000e+06,NaN,NaN,NaN
25%,2.800000e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.900000e+01,2.600000e+01,NaN,NaN,2.000000e+00,2.510000e+07,NaN,NaN,NaN
50%,7.000000e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.900000e+01,2.600000e+01,NaN,NaN,2.000000e+00,2.510000e+07,NaN,NaN,NaN
75%,3.370000e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.900000e+01,2.600000e+01,NaN,NaN,2.000000e+00,2.510000e+07,NaN,NaN,NaN
max,3.900000e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.900000e+01,7.300000e+01,NaN,NaN,1.100000e+01,2.425700e+09,NaN,NaN,NaN

From the dataset statistics we notice in the 'count' row that the column 'closed_at' only has 25 values that are not NaN, thus, we drop the 'closed_at' column too.

In [13]:
print("Column 'closed_at' has {} cells containing nan values out of the total {} number of cells".format(
    get_nan_values_for_column(df, 'closed_at'),
    df.shape[0])
)

Column 'closed_at' has 7210953 cells containing nan values out of the total 7210978 number of cells

In [14]:
# drop 'closed_at' column
df.drop(['closed_at'], axis=1, inplace=True)

We want our Machine Learning model to predict the status ('ipo', 'operating' or 'closed') of companies. For this, we deduced that the relevant columns, from the dataframe, that could be used as features are: **subject, category_code, founded_at, funding_total_usd and city_y**, and the column **status** will represent the label of the data.

In [15]:
# drop irrelevant columns from the dataframe
df.drop(['price_amount', 'price_currency_code', 'acquired_at', 'full_name',
       'normalized_name','homepage_url', 'country_code', 'state_code_x', 'city_x', 'region',
       'first_investment_at', 'last_investment_at', 'investment_rounds',
       'invested_companies', 'first_funding_at', 'last_funding_at',
       'funding_rounds', 'description_y', 'zip_code'], 
        axis=1, inplace=True)

In [16]:
# Summary statistics for the reduced data frame
df.describe(include="all")

,subject,category_code,status,founded_at,funding_total_usd,city_y
count,5864970,7210800,7210978,7151879,6.704113e+06,7011070
unique,2361,21,3,93,NaN,208
top,Computer Science,search,ipo,1998-09-07,NaN,Seattle
freq,1198520,6475198,7202329,6474215,NaN,202671
mean,NaN,NaN,NaN,NaN,3.645655e+07,NaN
std,NaN,NaN,NaN,NaN,1.529393e+08,NaN
min,NaN,NaN,NaN,NaN,1.000000e+06,NaN
25%,NaN,NaN,NaN,NaN,2.510000e+07,NaN
50%,NaN,NaN,NaN,NaN,2.510000e+07,NaN
75%,NaN,NaN,NaN,NaN,2.510000e+07,NaN
max,NaN,NaN,NaN,NaN,2.425700e+09,NaN

The total number of rows of the dataframe is 7210798, but if we inspect the _count_ rows of the statistics we notice that the other columns have less rows, e.g. the column subject only has 5864970. This means that the rest of the values, up to 7210798 are NaN  values.    
   
Next, we will delete the rows that contain NaN values, since those rows will impact negatively our model.

In [17]:
df = drop_nan_values_from_columns(df, ['subject','category_code','status', 'founded_at', 'funding_total_usd', 'city_y'])
df

,subject,category_code,status,founded_at,funding_total_usd,city_y
0,Computer Science,search,ipo,1998-09-07,25100000.0,Mountain View
1,Computer Science,search,ipo,1998-09-07,25100000.0,Ann Arbor
2,Computer Science,search,ipo,1998-09-07,25100000.0,Atlanta
3,Computer Science,search,ipo,1998-09-07,25100000.0,Austin
4,Computer Science,search,ipo,1998-09-07,25100000.0,Boulder
...,...,...,...,...,...,...
5296259,"Finance, Economics, Organizational Psychology",advertising,operating,2006-11-01,53157047.0,Emeryville
5296260,Industrial Engineering,advertising,operating,2006-11-01,53157047.0,Emeryville
5296261,General Management,advertising,operating,2006-11-01,53157047.0,Emeryville
5296262,Communications,advertising,operating,2006-11-01,53157047.0,Emeryville
5296263,Marketing Strategy,advertising,operating,2006-11-01,53157047.0,Emeryville

In [18]:
# check to see if rows have nan values
are_columns_with_nan_values = False

for c in df.columns:
    if 0 != get_nan_values_for_column(df, c):
        are_columns_with_nan_values = True
        print(f"Column {c} still has NaN values")

if not are_columns_with_nan_values:
    print("No column has NaN values")

No column has NaN values

In [29]:
print(f"The maximum value from the 'funding_total_usd' column is " + str(df['funding_total_usd'].loc[df['funding_total_usd'].idxmax()]))

The maximum value from the 'funding_total_usd' column is 2425700000.0

Since the maximum value on the 'funding_total_usd' column is 2425700000 we can change its data type from float64 to float32. (we had a MemoryError when testing the pipeline and now we try to save space from where we can)

In [37]:
df['funding_total_usd'] = df['funding_total_usd'].astype(np.float32)

In [32]:
df.dtypes

subject              object
category_code        object
status               object
founded_at           object
funding_total_usd     int32
city_y               object
dtype: object

At the moment, the data in the dataframe there might be some ordering, i.e., rows belonging to the same subject or  category_code might be grouped together. We don't want our model to learn this ordering, so we need to make the dataset as random as possible. For this, we will shuffle the data inside the dataframe, i.e., we will randomize the order of the rows.

In [33]:
# Shuffle
df = df.take(np.random.permutation(len(df)))
df.reset_index(drop=True, inplace=True)
df.head(5)

,subject,category_code,status,founded_at,funding_total_usd,city_y
0,Business,search,ipo,1998-09-07,25100000,Trondheim
1,Journalism,advertising,operating,1987-10-14,86400002,New York
2,Public Policy and Computer Science,search,ipo,1998-09-07,25100000,St. Petersburg
3,Mechanical Engineering,search,ipo,1998-09-07,25100000,Milan
4,"Economics, PreMed",search,ipo,1998-09-07,25100000,Santa Monica

In [57]:
# due to the MemoryError received when running cross_val_score function, we create a smaller data frame that has
# 1000000 initial rows
df_smaller = df.take(np.random.permutation(len(df))[:1000000])
df_smaller.reset_index(drop=True, inplace=True)
df_smaller.head(5)

,subject,category_code,status,founded_at,funding_total_usd,city_y
0,Computer Science,search,ipo,1998-09-07,25100000.0,Atlanta
1,"Computer Science,Economics",search,ipo,1998-09-07,25100000.0,Montreal
2,psychology,search,ipo,1998-09-07,25100000.0,Bangalore
3,Finance,search,ipo,1998-09-07,25100000.0,Bangalore
4,"Business Administration and Management, General",search,ipo,1998-09-07,25100000.0,Atlanta

In [58]:
# The features we want to select
numeric_features = ["funding_total_usd"]
nominal_features = ["subject", "category_code", "founded_at", "city_y"]

numeric_pipeline = Pipeline([
        ("selector", DataFrameSelector(numeric_features)),
        ("scaler", StandardScaler())
    ])

nominal_pipeline = Pipeline([
        ("selector", DataFrameSelector(nominal_features)), 
        ("binarizer", FeatureBinarizer([df[feature].unique() for feature in nominal_features]))])


pipeline = Pipeline([("union", FeatureUnion([("numeric_pipeline", numeric_pipeline), 
                                            ("nominal_pipeline", nominal_pipeline)])),
                              ("estimator", LogisticRegression(multi_class="multinomial", solver="newton-cg"))])

In [59]:
# get the labels
y = df_smaller['status'].values
y

array(['ipo', 'ipo', 'ipo', ..., 'ipo', 'ipo', 'ipo'], dtype=object)

In [60]:
# Stratified k-fold cross-validation
kf = StratifiedKFold(n_splits = 10)
np.mean(cross_val_score(pipeline, df_smaller, y, scoring="accuracy", cv=kf))

C:\Users\asabau\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:597: Warning: The least populated class in y has only 3 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.9999930000299996